# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
JWTPRIVATEKEY=""
APIKEY=""
SECRETID=""

PORT=
BASE_URL=""

# CLEANER JOB : le job est executé toutes les 5 heures 
# et supprime les données plus anciennes que 5 heures
CLEANER_CRON='0 */5 * * *'
CLEANER_DELETE_AFTER_HOURS=5

# CLEANER JOB : le job est executé toutes les 2 heures 
# et supprime les données plus anciennes que 1 heures
CLEANER_CRON='0 */2 * * *'
CLEANER_DELETE_AFTER_HOURS=1

# les données sont enregistrées toutes les 5 secondes
WRITER_CRON='*/5 * * * * *'